* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

body {
    background: #626262;
}

.navbar {
    background: linear-gradient(to right, #3498db, #2ecc71);
}

.logo {
    width: 160px;
    margin-right: 45px;
}

.nav-user-icon img {
    width: 43px;
    border-radius: 50%;
    cursor: pointer;
}

.nav-user-icon {
    margin: 10px;
}

.search-box {
    background-color: #ffffff;
    width: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.search-box img {
    width: 18px;
}

.search-box input {
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}

@media (min-width: 768px) {
    .search-box {
        width: auto;
    }
    
    .search-box input {
        width: 300px; 
    }
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}


.right-sidebar, .left-sidebar{
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    color: #626262;
}

.main-content {
    flex-basis: 47%;
}

.imp-links a, .shortcut-links a {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #626262;
    width: fit-content;
}

.imp-links a img {
    width: 25px;
    margin-right: 15px;
}

.imp-links {
    border-bottom: 1px solid #ccc;
}

.sidebar-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar-title h4 {
   font-weight: 600;
   font-size: 16px;
}

.sidebar-title a {
    text-decoration: none;
    color: #1876f2;
    font-size: 12px;
}

.birthday {
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}

.left-birthday {
    border-radius: 10px;
    height: 65px;
    width: 65px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.birthday p {
    font-size: 16px;
    font-weight: 300;
}

.birthday h4 {
    font-weight: 700;
    font-size: 18px;
    margin-top: 6px;
    margin-bottom: 0;
}

.birthday h4 a {
    color: #626262;
    font-weight: 700;
    font-size: 18px;
    margin-top: 6px;
    margin-bottom: 0;
    text-decoration: none;
}

.birthday h4 a:hover,
.birthday h4 a:focus {
    color: #3a3a3a;
}

.birthday h3 {
    font-weight:700;
    font-size: 25px;
}

.birthday a {
    font-size: 12px;
    text-decoration: none;
    color: #1876f2;
}

.left-birthday span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #1876f2;
    color: #fff;
    font-size: 12px;
    padding: 2px 0;
}

.separator {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

.request-list {
    display: flex;
    align-items: center;
    margin: 9px;
}

.friend-list  {
    display: flex;
    margin: 9px;
    align-items: center;
}

.hobby-list {
    display: flex;
    margin: 3px;
    align-items: center;
    justify-content: space-between;
}

.info-list {
    display: flex;
    margin: 3px;
    align-items: center;
    justify-content: space-between;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.non-disponibile {
    font-weight: 400;
    color: #9c9c9c;
}


.request-list img {
    width: 38px;
    border-radius: 50%;
    margin-right: 10px;
}

.friend-list img {
    width: 38px;
    border-radius: 50%;
    margin-right: 10px;
}


.request-list h4, .friend-list h4 {
    font-weight: 500;
    font-size: 16px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.request-list h4 a, .friend-list h4 a {
    text-decoration: none;
    color: #626262;
} 

.request-list h4 a:hover, .friend-list h4 a:hover,
.request-list h4 a:focus, .friend-list h4 a:focus {
    color: #000000;
}

.stats p {
    font-size: 16px;
    margin: 2px;
}

.stats span{
    font-size: 17px;
    font-weight: 600;
}

.user-info span {
    font-size: 17px;
    font-weight: 600;
}


.request-list button {
    margin-left: auto;
    border: none;
    padding: 6px 10px; 
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}

.accept-btn {
    background-color: #2b80002d;
    color: rgba(0, 128, 0, 0.618);
}

.accept-btn:hover,  
.accept-btn:focus{
    background-color: #2b800053;
    color: rgba(0, 128, 0, 0.898);
}

.reject-btn {
    background-color: #ff2f0036; 
    color: #e20000a1;
}

.reject-btn:hover,
.reject-btn:focus {
    background-color: #ff2f0055; 
    color: #e20000e2;
}

.remove-btn {
    background-color: transparent; 
    color: #e20000a1;
    border: none;
}

.remove-btn:hover,
.remove-btn:focus {
    color: #e20000e2;
}

.buttons-column {
    display: flex;
    flex-direction: column;
}

.write-post-container {
    width: 100%;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    columns: #626262;
}

.user-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-profile img {
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-profile p {
    font-weight: 600;
    margin-bottom: -5px;
    color: #626262;
}

.user-profile small {
    font-size: 12px;
    color: #9f9f9f;
}

.post-input-container {
    padding-left: 55px;
    padding-top: 20px;    
    padding-right: 55px;
}

.post-input-container textarea {
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    resize: none;
}

.post-input-container textarea::placeholder {
    color: #9f9f9f;
}

.add-post-link {
    display: flex;
    flex-wrap: wrap; 
    margin-top: 10px;
}

.add-post-link a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    font-size: 13px;
    margin-right: 15px; 
    margin-bottom: 10px; 
}

.add-post-link a img {
    width: 20px;
    margin-right: 10px;
}

.post-container {
    width: 100%;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    color: #626262;
    margin: 20px 0;
}

.post-text {
    color: #7c7c7c;
    margin: 9px 0;
    font-size: 15px;
}

.post-img {
    width: 100%;
    border-radius: 10px;
}

.post-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.activity-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.activity-icons div {
    display: flex;
    align-items: center;
    margin-right: 20px;
    color: #626262;
    font-size: 14px;
}

.activity-icons div img {
    width: 20px;
    margin-right: 5px;
}

.nav-user-icon span {
    color: #fff; 
    font-size: 16px;
    font-weight: 500; 
    padding-top: 100px;
}


.result-box ul {
    border-top: 1px solid #b3b3b3;
    padding: 10px 10px;
    margin-bottom: 0px;
}

.result-box ul li {
    color: #737070;
    list-style: none;
    border-radius: 15px;
    padding: 6px 10px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.result-box ul li:hover {
    background-color: rgba(244, 244, 244, 0.638);
}

.result-box {
    background: white;
    max-height: 300px;
    overflow-y: scroll;
    border-radius: 20px;
}

.search-container {
    position: relative;
    width: max-content;
}

.z-1.position-absolute {
    position: absolute;
    width: 100%;
}

.result-box ul li .name {
    flex: 1;
}

.result-box ul li .friend-status {
    text-align: right;
}

.result-box ul li .amico {
    color: rgb(118, 118, 118);
}

.result-box ul li .inviata {
    color: rgb(170, 170, 170);
}

.request-button {
    background-color: #004f8012;
    color: rgba(0, 81, 128, 0.618);
    border-radius: 10px;
    padding: 4px;
    border: none;
}

.request-button:hover {
    background-color: #004f8040;
    color: rgba(0, 81, 128, 0.869);
}

.accept-button {
    background-color: #2b80000c;
    color: rgba(0, 128, 0, 0.618);
    border-radius: 10px;
    padding: 4px;
    border: none;
}

.accept-button:hover {
    background-color: #2b800028;
    color: rgba(0, 128, 0, 0.891);
}

.modalButtonAggiungi {
    background-color: transparent;
    color: rgba(0, 128, 0, 0.618);
    border-radius: 10px;
    padding: 4px;
    border: none;
}

.modalButtonAggiungi:hover {
    color: rgba(0, 128, 0, 0.891);
}

.request-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.logout {
    cursor: pointer;
    padding-bottom: 20px;
}

.logout a {
    font-weight: 800;
    text-decoration: none;
    color: rgba(255, 3, 3, 0.509);
}

.logout a:hover {
    color: rgba(255, 36, 36, 0.898); 
}

.name-post a {
    text-decoration: none;
    color: #626262;
}

.name-post a:hover {
    color: #333333;
}

#redirectToPageWithInfo {
    text-decoration: none;
    color: inherit;
}

.modalButton {
    background-color: transparent;
    border: none;
    color: #626262;
    font-weight: 600;
}

.post-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
}

.post-footer button {
    background-color: transparent;
    color: rgba(0, 81, 128, 0.618);
    border: none;
    border-radius: 10px;
    padding: 6px;
    width: auto;
    cursor: pointer;
    outline: none;
    transition: border-color 0.3s ease;
}

.rating-dropdown, .rating-comment-dropdown,
.send-comment-btn, .close-btn, .reference-dropdown {
    background-color: #fff; 
    color: rgba(0, 81, 128, 0.618);
    border: none;
    border-radius: 10px;
    padding: 6px;
    width: auto;
    cursor: pointer;
    outline: none;
    transition: border-color 0.3s ease;
}


.post-footer .form-select:hover,
.post-footer .form-select:hover {
    border-color: #ffffff;
    background-color: #f1f1f1 ;
}



.post-footer button:hover,
.post-footer button:focus {
    border-color: #ffffff;
    background-color: #f1f1f1 ;
}

.rating-dropdown:hover,
.rating-dropdown:focus {
    border-color: #ffffff;
    background-color: #f1f1f1 ;
}

.rating-dropdown option {
    padding: 5px; /* Aggiungi spazio intorno ai testi */
    background-color: #fff; /* Cambia il colore di sfondo */
    color: rgba(0, 81, 128, 0.618);
    font-weight: bold; /* Rendi il testo in grassetto */
    font-size: 14px; /* Imposta una dimensione del testo */
    outline: none; /* Rimuovi l'outline al focus */
    cursor: pointer; /* Mostra un cursore di tipo puntatore */
}

.post-footer .rating-dropdown-container {
    position: relative; /* Imposta una posizione relativa */
    margin-left: 20px; /* Aggiungi margine a sinistra */
}

.post-footer .rating-dropdown-container:before {
    content: "\25BC"; /* Aggiungi un'icona per indicare la dropdown */
    position: absolute; /* Imposta una posizione assoluta */
    top: 50%; /* Posiziona l'icona verticalmente al centro */
    right: 10px; /* Posiziona l'icona a destra */
    transform: translateY(-50%); /* Sposta l'icona verticalmente al centro */
    color: rgba(0, 81, 128, 0.618);
    pointer-events: none; /* Impedisce di interagire con l'icona */
}

.modal-body .post-container {
    background: #f4f4f4;
}

#postType, .post-footer .form-select{
    background-color: transparent;
    color: rgba(0, 81, 128, 0.618);
    border: none;
    border-radius: 10px;
    padding: 6px;
    width: auto;
    cursor: pointer;
    outline: none;
    transition: border-color 0.3s ease;
}

#postType:hover,
#postType:focus,
.post-footer .form-select:focus,
.post-footer .form-select:hover,
.gradisce-btn:hover,
.gradisce-btn:focus
 {
    background-color: #004f8012;
    color: rgba(0, 81, 128, 0.869);
}

.gradisce-btn{
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: transparent;
    color: rgba(0, 81, 128, 0.618);
    border: none;
    border-radius: 10px;
    width: auto;
    cursor: pointer;
    outline: none;
    transition: border-color 0.3s ease;
}
#imageFile {
    background-color: #004f8012;
    color: rgba(0, 81, 128, 0.618);
    border-radius: 10px;
    padding: 6px;
    width: auto;
    cursor: pointer;
    outline: none;
    transition: border-color 0.3s ease;
}

#imageFile:hover,
#imageFile:focus {
    border-color: #ffffff;
    background-color: #f1f1f1;
}

.comment-textarea {
    width: 100%;
    border: 1px solid #ccc; /* Aggiungi un bordo grigio */
    border-radius: 5px; /* Aggiungi bordi arrotondati */
    padding: 10px; /* Aggiungi spazio interno */
    resize: vertical; /* Permetti di ridimensionare verticalmente */
    font-family: 'poppins', sans-serif; /* Usa lo stesso font degli altri elementi */
    font-size: 14px; /* Imposta la dimensione del testo */
    outline: none; /* Rimuovi il bordo attorno alla textarea quando è selezionata */
}

.comment-textarea::placeholder {
    color: #9f9f9f; /* Colore del testo del placeholder */
}

